*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 600px ;
    height: auto;
    border: none;
    background-color: #C7E7F3;
    
}
caption{
    background-color: #0D5188;
    color: white;
}
th{
    border: none;
    background-color: #66C5E3;
    
}
th:nth-child(2){
    text-align: start;
}
th:nth-child(5){
    text-align: start;
}
td{
    border: 1px solid black;
    margin: 0px auto;
    border: none;
    background-color: #C7E7F3;
    text-align: center;
}


td:nth-child(1){
    background-color: silver;
    width: 10%;
}
td:nth-child(4){
    background-color: silver;
    width: 10%;
}
td:nth-child(2){
    color: #0D5188;
    font-weight: bold;
    width: 25%;
    height: auto;
    text-align: start;
}
td:nth-child(5){
    color: #0D5188;
    font-weight: bold;
    width: 25%;
    height: auto;
    text-align: start;
}
td:nth-child(3){
    width: 15%;
}
td:nth-child(6){
    width: 15%;
}


