*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
table{
 width: 875px;
}
table, tr, td{
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
}
thead{
    font-size: 13px;
    color: #999999;
    border: none;
    text-align: center;
} 
tbody {
   padding: 0px;
    border: 1px solid #dddDDD;
    
}
tr:nth-child(5), tr:nth-child(17){
    border-top: 2px solid #999999;
}
td:nth-child(3), td:nth-child(5), td:nth-child(7), td:nth-child(9), td:nth-child(11) {
    background-color: #6666662c;
    
}



.Libertadores {
 color: #003366;
 font-weight: bold;
 border-right: none;
 font-size: 18px;
 text-align: center;
 width: 1px;

 
}
.preLibertadores{
color: #1398BE;
font-weight: bold;
border-right: none;
font-size: 18px;
text-align: center;
padding-right: 0px;
width: 0.5px;
}
.Sulamericana{
    color: #DE9800;
    font-weight: bold;
    border-right: none;
    font-size: 18px;
    text-align: center;
    padding-right: 0px;
    width: 0.5px;
}

.nada{
    color: #CCCCCC;
    font-weight: bold;
    border-right: none;
    font-size: 18px;
    text-align: center;
    padding-right: 0px;
    width: 0.5px;
}
.lanterna{
    color: #C91B04;
    font-weight: bold;
    border-right: none;
    font-size: 18px;
    text-align: center;
    padding-right: 0px;
    width: 0.5px;
}

.time{
    font-size: 14px;
    color: #666666;
    font-weight: bold;
    text-align: start;
    border-left: none;
    border-right: none;
    padding-left: 0px;
    
}
.pontos{
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-align: center;
    
    
    
}
.restoTabela{
    font-size: 14px;
    color: #666666;
    text-align: center;
    
    
} 
tfoot tr td{
    font-size: 15px;
    width: 1px;
    
}
