*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-image: url(/Atividade/image/acai.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fonte-principal)
}
:root{
    --roxo: rgb(92, 3, 92);
    --branco:white;
    --fonte-principal: arial;
}


 header{
    width: 100%;
    height: auto;
    background-color: var(--roxo);
    display: flex;
    justify-content: space-between;
    
   
    
}
.logo img{
    width: 100px;
    height: 100px;
    margin: 10px 20px;
}
.titulo{
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center
    
}
h1{
    text-align: center;
    color: var(--branco); 
    margin: 20px 0;  
    letter-spacing: 5px;
}
.titulo a{
    text-decoration: none;
    color: var(--branco);
    font-size: 35px;
}
nav{
    width: 18%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    font-size: 16px;
    margin-right: 20px;
    margin-top: 50px;
    gap: 20px;  
}
nav a{
    text-decoration: none;
    color: var(--branco);
    text-transform: capitalize;
    transition: color 300ms;
}
a:hover{
    color: rgb(192, 124, 255);
}
.subtitulo{
    width: 100%;
    height: 1%;
    color: var(--branco);   
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 10px;
    
} 
.banner{
    width: 80%;
    height: 100%;
    margin: 0px auto;
    background-color: rgba(37, 2, 41, 0.575);
    color: var(--branco);
    padding: 50px;
    
    
}
h2{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
    background-color: var(--roxo) ;
    text-transform: capitalize;
    padding: 5px 0px;
    
    
}
p{
    margin: 15px;
    text-indent: 25px;
    word-spacing: 2px;
    line-height: 25px;
}
footer{
    width: 100%;
    height: auto;
    background-color: black;
}
footer span a{
    font-size: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--branco);   
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    text-decoration: none;
    transition: color 300ms;
}
span{
    font-size: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--branco);   
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
}
