*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin: 10px;
}
ul{
    margin-top: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    text-decoration: none;
}
a{  
    text-decoration: none;

}





