@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'Halloween';
    src: url(../fonts/halloween/Halloween.ttf);
}

    

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'roboto';
}

:root{
    --cor-fundo: #8604a7;
    --cor-primaria:#252525;
    --cor-links: #b8b8b8;
    --cor-titulos: #c7c7c7;
}
header, footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: var(--cor-fundo);
}

#page{
    width: 100%;
    height: 100vh;
    background-color: var(--cor-fundo);
    
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Halloween';
    color: var(--cor-titulos);
}


#logo{
    width: 150px;
}
#menuMobile{
    
    display: none;
}

#menuIcon{
    cursor: pointer;
    display: none;
}
.imagem{
    width: 100%;
    border-radius: 100% ;

}
a{
    color: var(--cor-links);
    font-weight: bold;
    transition: color 300ms;
}
a:hover{
    color: rgb(253, 95, 4);
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    
    
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#Banner{
    width: 90%;
    height: 400px;
    margin: 20px 0;
    color: var(--cor-titulos);
    text-align: center; 
}

