

:root{
    --cor-titulo: rgb(255, 255, 255); 
    --cor-stroke: #000000;  
}

main{
    width: 100%;
   height: 100%;
   background-color: #000000 !important;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #580000;
    padding: 100px;
    margin: 0 auto;
}
main img{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo h1,h3{
    color: var(--cor-titulo);
    text-align: center;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-size: 50pt;
    
}

.card img{
    height: 21rem !important;
}
.card-text{
    color: gray;
    text-decoration: line-through !important;
}
.carousel-caption h5{
    font-size: 30pt;
    font-weight: bold;
    -webkit-text-stroke: 1px #ffffff ;
    
}
.carousel-caption a{
    font-size: 15pt;
    color: var(--cor-hover);
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 10px;
}

.modal h3{
    -webkit-text-stroke: 0px rgb(0, 0, 0);
}

label{
    color: var(--cor-hover);
}
input:focus{
    border: 2px solid var(--cor-hover) !important;
  box-shadow: 0 0 8px rgba(3, 3, 3, 0.5) !important;
}

.btn{
    background-color: var(--cor-hover) !important;
    border: none !important;
    
}
#btnEnviar{
    width: 5.5rem;
}

footer{
    width: 100%;
    height: 13rem;
    background-color: var(--cor-stroke);
    color: var(--cor-titulo);
}