
:root{
    --cor-form:#60a3a0;
    --cor-branco:#e2e2e2;
    --cor-link:#fa6d6d;
    --background-color:#ffffff;
}
main{
    width: 100%;
    height: 100vh;
    background-image: url(../images/background-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: space-around;
}
.container{
    margin: auto;
    width:50%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  
    
}
form{
    width: 90%;
    height: 90%;
    background-color: var(--cor-form);
    padding: 20px;
    box-shadow: 10px 10px 10px #f85151;
    color: rgb(255, 255, 255);
    
    

}
form div{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form div label{
    margin-bottom: 5px;
}
form div input{
    height: 25px;
    border-radius: 5px;
}
form div input:focus{
    outline: #f19408;
    border: 2px solid #f19408;
}
form a{
    color: rgb(247, 247, 247);
    transition: color 300ms ;
}
form a:hover{
    color: var(--cor-link);
    text-decoration: underline;
}
#new-forgot{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
}


