main{
    width: 80%;
    height: auto;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}