main{
    width: 80%;
    height: auto;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

main h3{
    margin: 10px auto;
    text-align: center;
}
main p a img{
    width: 30px;
    height: 30px;
}