main{
    width: 80%;
    height: auto;
    border-radius: 20px;
    background-color: black;
    padding: 20px;
    margin: 10px auto;
    box-shadow: rgb(72, 109, 30) 10px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main h1{
    margin-bottom: 40px;
    color: darkolivegreen;
    font-weight: bold;
    text-align: center;
}
main h3{
    margin: 30px 0px 20px 20px;
    color: darkolivegreen;
    font-weight: bold;
}
main p{
    color: aliceblue;
    
}

#banner{
    width: 80%;
    height: 680px;
    overflow: hidden;
    margin: 0 auto;


}

#banner img{
    width: 100%;
    

}

footer{
    width: 100%;
    height: 40px;
    background-color: darkolivegreen;
    padding: 10px 0px;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
}

footer h2{
    color: white;
    margin-top: 40px;
    
}